
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Last Sync: 2024-05-24T15:00:00Z - Force Update Permissions
    
    // Publicly readable collections
    match /ctfWriteups/{writeupId} {
      allow read, list: if true;
      allow write: if true; 
    }
    match /projects/{projectId} {
      allow read, list: if true;
      allow write: if true;
    }
    match /achievements/{achievementId} {
      allow read, list: if true;
      allow write: if true;
    }
    match /securePageAccessLogs/{logId} {
      allow create, read, list: if true;
    }
    match /users/{ownerId}/secureMessages/{messageId} {
      allow read, write, list: if true;
    }
  }
}
